{% extends '_base.html' %}
{% block title %}Freek Wiedijk 的 100 条定理列表中尚缺的定理{% endblock %}
{% block content %}
{% markdown %}
# [Freek Wiedijk](https://www.cs.ru.nl/~freek/) 的 [100 条定理列表](https://www.cs.ru.nl/~freek/100/)中尚缺的定理
这些定理尚未在 Lean 中形式化。
目前共有 {{hundred_theorems|rejectattr('proof_formalized')|list|length}} 条。
其中 {{hundred_theorems|rejectattr('proof_formalized')|selectattr('statement_formalized')|list|length}} 条已经形式化了陈述。
<a href="100.html">这里</a>是已形式化定理的列表。
{% for theorem in hundred_theorems|rejectattr('proof_formalized') %}
* {{ theorem.id }}: {{ theorem.title }}
{% endfor %}

{% endmarkdown %}
{% endblock %}
