{% extends '_base.html' %}
{% block title %}Lean 中的 1000+ 条定理{% endblock %}
{% block content %}

    <h1>1000+ 条定理</h1>

    <p><a href="https://www.cs.ru.nl/~freek/">Freek Wiedijk</a> 发起了 <a href="https://1000-plus.github.io/">1000+ 条定理项目</a>，追踪各定理证明器对 Wikipedia 上具名定理的形式化进展，以此比较主要定理证明器。
    目前其中有 {{thousand_theorems|selectattr('proof_formalized')|list|length}} 条已在 Lean 中形式化，
    另有 {{thousand_theorems|selectattr('statement_formalized')|list|length}} 条只在 Lean 中形式化了陈述。
    我们也有一个页面列出该列表中<a href="1000-missing.html">尚未进入 Lean</a> 的定理。</p>

	<p>
	若要更新此列表，请先编辑
	<a href="https://github.com/leanprover-community/mathlib4/blob/master/docs/1000.yaml">yaml 源文件</a>，
	然后<a href="contribute/index.html">向 mathlib 提交拉取请求</a>。
	这完全可以在 GitHub 上完成，参见
	<a href="https://docs.github.com/en/github/managing-files-in-a-repository/editing-files-in-another-users-repository">“在其他用户的仓库中编辑文件”</a>。
	</p>

    {% for theorem in thousand_theorems|selectattr('proof_formalized') %}
        <h5 class="markdown-heading mt-5" id="{{ theorem.id }}">
            <a href="https://www.wikidata.org/wiki/{{ theorem.id }}">{{ theorem.id }}:</a>
            {{ theorem.title }}
            <a class="hover-link" href="#{{ theorem.id }}">#</a>
        </h5>
        {% if theorem.authors %}<p>作者：{{ theorem.authors }}</p>{% endif %}
        {% if theorem.statement %}<p><code>{{ theorem.statement }}</code></p>{% endif %}
        {% for doc in theorem.doc_decls|default([], true) %}
        <div class="doc-stmt">{{ doc.decl_header_html }}</div>
        <p><a href="{{ doc.docs_link }}">文档</a>，<a href="{{ doc.src_link }}">源代码</a></p>
        {% endfor %}
        {% for title, link in (theorem.links|default({}, true)).items() %}<p><a href="{{link}}">{{title}}</a></p>{% endfor %}
        {% if theorem.note %}<p>{% markdown %}{{ theorem.note }}{% endmarkdown %}</p>{% endif %}
    {% endfor %}

    以下定理目前只形式化了陈述，欢迎贡献它们的证明。
    {% for theorem in thousand_theorems|selectattr('statement_formalized') %}
        <h5 class="markdown-heading mt-5" id="{{ theorem.id }}">
            <a href="https://www.wikidata.org/wiki/{{ theorem.id }}">{{ theorem.id }}:</a>
            {{ theorem.title }}
            <a class="hover-link" href="#{{ theorem.id }}">#</a>
        </h5>
        {% if theorem.authors %}<p>作者：{{ theorem.authors }}</p>{% endif %}
        {% if theorem.statement %}<p><code>{{ theorem.statement }}</code></p>{% endif %}
        {% for doc in theorem.doc_decls|default([], true) %}
        <div class="doc-stmt">{{ doc.decl_header_html }}</div>
        <p><a href="{{ doc.docs_link }}">文档</a>，<a href="{{ doc.src_link }}">源代码</a></p>
        {% endfor %}
        {% for title, link in (theorem.links|default({}, true)).items() %}<p><a href="{{link}}">{{title}}</a></p>{% endfor %}
        {% if theorem.note %}<p>{% markdown %}{{ theorem.note }}{% endmarkdown %}</p>{% endif %}
    {% endfor %}

{% endblock %}
