{% extends '_base.html' %}
{% block title %}Freek Wiedijk 的 1000+ 条定理项目中尚缺的定理{% endblock %}
{% block content %}
{% markdown %}
# [Freek Wiedijk](https://www.cs.ru.nl/~freek/) 的 [1000+ 条定理项目](https://1000-plus.github.io/)中尚缺的定理
这些定理尚未在 Lean 中形式化（或者这些形式化尚未录入数据库）。
目前共有 {{thousand_theorems|rejectattr('proof_formalized')|list|length}} 条。
其中 {{thousand_theorems|rejectattr('proof_formalized')|selectattr('statement_formalized')|list|length}} 条已经形式化了陈述。
<a href="1000.html">这里</a>是已形式化定理的列表。
{% for theorem in thousand_theorems|rejectattr('proof_formalized') %}
* <a href="https://www.wikidata.org/wiki/{{ theorem.id }}">{{ theorem.id }}:</a> {{ theorem.title }}
{% endfor %}

{% endmarkdown %}
{% endblock %}
