{% extends '_base.html' %}
{% block title %}Mathlib 文档总览{% endblock %}
{% block extracss %}
<style type="text/css">
ul.taglist {
  display: inline;
}
ul.taglist li {
  display: inline;
}
.tag-label {
  border: solid 1px;
  border-radius: 4px;
  padding: 2px;
  cursor: pointer;
}
.tag-label input {
  display: none;
}
.tag-label-unselected {
  color: gray;
}
.tag-label-unselected:hover {
  color: darkgray;
}

.tag-selection {
  position: sticky;
  top: 0px;
  background: white;
  padding: 5px;
}
</style>

<script>
function update_tag_showing() {
  const checkboxes = document.getElementsByClassName("tag-toggle");
  const entries = document.getElementsByClassName("documentation-entry");

  const checked = [];
  function enabled(tag) {
    return checked.length == 0 || checked.some(cls => tag.classList.contains(cls));
  }

  for (const box of checkboxes) {
    if (box.checked) {
      checked.push(box.id);
    }
    for (const label of document.getElementsByClassName(box.id + "-label")) {
      if (box.checked) {
        label.classList.remove("tag-label-unselected");
      } else {
        label.classList.add("tag-label-unselected");
      }
    }
  }

  for (const entry of entries) {
    entry.style.display = enabled(entry) ? null : "none";
  }

  // If any tags are selected, open the corresponding categories.
  if (checked.length > 0) {
    for (const cat of document.getElementsByClassName("category")) {
      cat.open = true;
    }
  }
}

function toggle_tag(id) {
  const box = document.getElementById(id);
  box.checked = !box.checked;
  update_tag_showing();
}
</script>
{% endblock %}

{% macro tag_id(tag) %}{{ tag|replace(" ", "-") }}{% endmacro %}

{% macro render_entry(entry) %}
{% if entry.display %}
  <dt class="documentation-entry {% for tag in entry.tags %}documentation-tag-{{ tag_id(tag) }} {% endfor %}">
    <a href="{{ entry.url }}">{{ entry.title }}</a>
  </dt>
  <dd class="documentation-entry {% for tag in entry.tags %}documentation-tag-{{ tag_id(tag) }} {% endfor %}">
    作者：{{ entry.authors }}<br />
    {{ entry.description }}
    <ul class="taglist">
      {% for tag in entry.tags %}
      <li title="{{ documentation_tags[tag].description }}" class="tag-label documentation-tag-{{ tag_id(tag) }}-label tag-label-unselected" onclick="toggle_tag('documentation-tag-{{ tag_id(tag) }}')">{{ tag }}</li>
      {% endfor %}
    </ul>
  </dd>
{% endif %}
{% endmacro %}

{% block content %}
      <h1>文档总览</h1>

      <p>本页旨在完整收录所有对 Mathlib 用户以及 Lean 用户有所帮助的文档。我们依照 <a href="https://docs.divio.com/documentation-system/">Divio 文档体系</a>将文档分为四个象限来组织：</p>

      <svg viewBox="0 0 400 300" xmlns="http://www.w3.org/2000/svg">

        <a href="#tutorials">
          <text x="180" y="100" style="text-anchor: end; fill: #004d99;" font-size: 16px;>教程</text>
          <text x="180" y="120" style="text-anchor: end; font-size: 12px;">面向学习</text>
        </a>
        <a href="#how-tos">
          <text x="220" y="100" style="text-anchor: start; fill: #004d99; font-size: 16px;">操作指南</text>
          <text x="220" y="120" style="text-anchor: start; font-size: 12px;">面向问题</text>
        </a>
        <a href="#explanations">
          <text x="180" y="200" style="text-anchor: end; fill: #004d99; font-size: 16px;">阐释</text>
          <text x="180" y="180" style="text-anchor: end; font-size: 12px;">面向理解</text>
        </a>
        <a href="#references">
          <text x="220" y="200" style="text-anchor: start; fill: #004d99; font-size: 16px;">参考</text>
          <text x="220" y="180" style="text-anchor: start; font-size: 12px;">面向信息</text>
        </a>

      <text x="20" y="150" style="text-anchor: start; font-size: 8px;">在我们学习时最为有用</text>
      <text x="380" y="150" style="text-anchor: end; font-size: 8px;">在我们工作时最为有用</text>
      <text transform="translate(200, 20) rotate(90)" style="text-anchor: start; font-size: 8px;">实践步骤</text>
      <text transform="translate(200, 280) rotate(90)" style="text-anchor: end; font-size: 8px;">理论知识</text>

      </svg>

      <p>如果你有某份文档而它未出现在列表中，你可以将其<a href="https://github.com/leanprover-community/leanprover-community.github.io/blob/lean4/data/documentation.yaml">添加到网站仓库中的 documentation.yaml</a>。如果你缺少某份文档，你可以<a href="https://leanprover.zulipchat.com/#narrow/channel/287929-mathlib4/topic/Mathlib.3A.20the.20Missing.20Manuals">在 Zulip 上提出请求</a>。</p>

      <details class="tag-selection">
        <summary>按所有标签筛选：</summary>
        {% for tag in documentation_tags.values() %}
          {% if tag.count > 0 and tag.display %}
          <span class="documentation-tag-{{ tag_id(tag.name) }}-label tag-label-unselected" title="{{ tag.description }}">
            <input type="checkbox" id="documentation-tag-{{ tag_id(tag.name) }}" class="tag-toggle" onclick="update_tag_showing()">
            <label for="documentation-tag-{{ tag_id(tag.name) }}" class="tag-label">{{ tag.name }} ({{ tag.count }})</label>
          </span>
          {% endif %}
        {% endfor %}
      </details>

      <h2 id="tutorials">教程</h2>
      <details class="category">
        <summary>教程是带领你一步步完成某类项目的课程。</summary>
        <dl>
          {% for entry in documentation_lists["tutorial"] %}
          {{ render_entry(entry) }}
          {% endfor %}
        </dl>
      </details>

      <h2 id="how-tos">操作指南</h2>
      <details class="category">
        <summary>操作指南带领你完成解决某个实际问题所需的步骤。</summary>
        <dl>
          {% for entry in documentation_lists["how-to"] %}
          {{ render_entry(entry) }}
          {% endfor %}
        </dl>
      </details>

      <h2 id="references">参考指南</h2>
      <details class="category">
        <summary>参考指南是对相关机制及其操作方式的完整技术描述。</summary>
        <dl>
          {% for entry in documentation_lists["reference"] %}
          {{ render_entry(entry) }}
          {% endfor %}
        </dl>
      </details>

      <h2 id="explanations">阐释</h2>
      <details class="category">
        <summary>阐释对某个特定主题加以澄清和阐明。</summary>
        <dl>
          {% for entry in documentation_lists["explanation"] %}
          {{ render_entry(entry) }}
          {% endfor %}
        </dl>
      </details>

{% endblock %}
