{% extends '_base.html' %}
{% block title %}Lean 相关的会议与活动{% endblock %}
{% block content %}



	<h1>Lean 相关的会议与活动</h1>

	<p>
        我们在此维护一份与 Lean、mathlib 以及一般形式化数学相关的过往和未来活动的列表。
        欢迎通过提交拉取请求来编辑
        <a href="https://github.com/leanprover-community/leanprover-community.github.io/blob/lean4/data/events.yaml">events.yaml</a> 以添加活动。
	</p>

    <p>
        “conference”（会议）、“workshop”（研讨会）和“tutorial”（教程）这几个标签的定义较为宽泛。
        大致而言，“conference”用于已完成工作的正式报告，通常会有正式出版的论文集；
        “workshop”则更为随意，可能包含进行中的工作，但有时也会出版非正式的论文集；
        “tutorial”则是学习或练习如何使用该系统的机会。
    </p>

    <h2>即将举办的活动</h2>
    <ul>
    {% for e in new_events %}
        <li> <a href="{{ e.url }}">{{ e.title }}</a> ({{ e.location }}. {{ e.date_range }})
            <small class="align-middle">
                <span class="badge badge-secondary align-middle event-tag-{{ e.type }}">{{ e.type }}</span>
            </small></li>
    {% endfor %}
     </ul>

    <h2>已举办的活动</h2>
    <ul>
    {% for e in old_events %}
        <li> <a href="{{ e.url }}">{{ e.title }}</a> ({{ e.location }}. {{ e.date_range }})
            <small class="align-middle">
                <span class="badge badge-secondary align-middle event-tag-{{ e.type }}">{{ e.type }}</span>
            </small></li>
    {% endfor %}
    </ul>
{% endblock %}
