{% extends '_base.html' %}
{% from '_overview-macros.html' import flat_child %}
{% block title %}mathlib 中的数学{% endblock %}
{% block content %}
	<h1>mathlib 概览</h1>

	<p>
	本页面的目标是粗略列出 mathlib 目前涵盖的主题，
	并为进一步探索提供指引。
	这并非详尽无遗的列表，也可能已经过时
	（详尽且最新的信息请参阅<a href="mathlib4_docs/">完整索引</a>）。
	</p>

	<p>
	这里的主题是以我们目前在 mathlib 中所具有的最大一般性来列出的，
	因此有些内容可能难以辨认。我们还有一个专门介绍
	<a href="undergrad.html">本科数学</a>的页面，可能更易阅读，
	以及一个列出
	<a href="undergrad_todo.html">尚未进入 mathlib</a> 的本科数学主题的页面。
	</p>

	<p>
	若要更新此列表，请在编辑
	<a href="https://github.com/leanprover-community/mathlib4/blob/master/docs/overview.yaml">yaml 源文件</a>后，
	<a href="contribute/index.html">向 mathlib 提交一个拉取请求</a>。
	这完全可以在 GitHub 上完成，参见
	<a href="https://docs.github.com/en/github/managing-files-in-a-repository/editing-files-in-another-users-repository">“在其他用户的仓库中编辑文件”</a>。
	</p>

	{% for area in overviews %}
	<h4 id="{{ area.slug }}" class="markdown-heading">{{ area.title }}<a class="hover-link" href="#{{ area.slug }}">#</a></h4>
	  {% for subarea in area.children %}
	  <p class="ml-4 mb-2">
	  <b>{{ subarea.title }}</b>
		{% for item in subarea.children %}
                {{ flat_child(item) }}{% if not loop.last %}, {% else %}.{% endif %}
		{% endfor %}
		{% if subarea.title in theories %}
		  {% if theories[subarea.title] | count > 1 %}
		  另见我们关于以下主题的文档页面：{% for title, url in theories[subarea.title].items() %}{% if loop.last %} 和 {%endif%}<a href="theories/{{ url }}.html">{{ title }}</a>{% if not loop.last %}、{% endif %}{% endfor %}。
		  {% else %}
		  另见我们关于 {% for title, url in theories[subarea.title].items() %}<a href="theories/{{ url }}.html">{{ title }}</a>{% endfor %} 的文档页面。
		  {% endif %}
		{% endif %}
	  </p>
      {% endfor %}
	  {% if area.title in theories %}
		<p>
	    {% if theories[area.title] | count > 1 %}
		另见我们关于以下主题的文档页面：{% for title, url in theories[area.title].items() %}{% if loop.last %} 和 {%endif%}<a href="theories/{{ url }}.html">{{ title }}</a>{% if not loop.last %}、{% endif %}{% endfor %}。
		{% else %}
		另见我们关于 {% for title, url in theories[area.title].items() %}<a href="theories/{{ url }}.html">{{ title }}</a>{% endfor %} 的文档页面。
		{% endif %}
		</p>
	  {% endif %}
	{% endfor %}

{% endblock %}