{% extends '_base.html' %}
{% from '_overview-macros.html' import flat_child %}
{% block title %}mathlib 中的本科数学{% endblock %}
{% block content %}
    <h1>mathlib 中的本科数学</h1>

      <p>
    本页提供 mathlib 当前已涵盖的本科数学主题的索引。
    该列表整理自
    <a href="http://media.devenirenseignant.gouv.fr/file/agreg_externe/59/7/p2020_agreg_ext_maths_1107597.pdf">
    法国教学大纲</a>。
    此外还有一个页面列出了
    <a href="undergrad_todo.html">尚未进入 mathlib</a>
    的本科数学主题。
    </p>

    <p>如需更新此列表，请提交一个拉取请求，修改 mathlib4 仓库中的
      <a href="https://github.com/leanprover-community/mathlib4/edit/master/docs/undergrad.yaml">
        docs/undergrad.yaml</a>。
      </p>

  {% for area in overviews %}
    {% if area.is_nonempty %}
    <h4>{{ area.title }}</h4>
      {% for subarea in area.nonempty_children %}
        <p class="ml-4 mb-2">
        <b>{{ subarea.title }}</b>
        {% for item in subarea.nonempty_children %}
          {{ flat_child(item) }}{% if not loop.last %}, {% else %}.{% endif %}
        {% endfor %}
        </p>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endblock %}
