{% extends '_base.html' %}
{% block title %}mathlib 中尚缺的本科数学{% endblock %}
{% block content %}
    <h1>mathlib 中尚缺的本科数学</h1>

    <p>
    本页给出当前 mathlib 中尚缺的本科数学主题的指引。
    该列表整理自
    <a href="http://media.devenirenseignant.gouv.fr/file/agreg_externe/59/7/p2020_agreg_ext_maths_1107597.pdf">
    法国教学大纲</a>。
    另有一页列出了
    <a href="undergrad.html">已在 mathlib 中</a>的本科数学主题。
    </p>

    <p>如果你想着手处理此列表中的某一项，
    你应当首先查看
    <a href="https://github.com/leanprover-community/mathlib4/pulls">拉取请求列表</a>
    以确认它是否已在进行中，然后查看
    <a href="https://github.com/leanprover-community/mathlib4/issues">议题列表</a>
    以确认它是否已在那里被讨论，最后在
    <a href="https://leanprover.zulipchat.com/">Zulip</a> 上讨论这个想法。
    </p>

    <p>若要更新此列表，请提交一个拉取请求，修改 mathlib 仓库中的
    <a href="https://github.com/leanprover-community/mathlib4/edit/master/docs/undergrad.yaml">
      docs/undergrad.yaml</a>。
    </p>

    <p>请注意，这些主题虽属本科水平的数学，但并不一定是学习 Lean 和 mathlib 的简单项目。
	关于简单项目的列表，请参见
	<a href="https://github.com/leanprover-community/mathlib4/issues?q=sort%3Aupdated-desc%20is%3Aissue%20is%3Aopen%20label%3A%22good%20first%20issue%22">GitHub Issues</a>。
	</p>

  {% macro flat_child(item) -%}
    {%- if item.missing_children -%}
      {{ item.title }}(
      {%- for inner_item in item.missing_children -%}
        {{ flat_child(inner_item) }}{% if not loop.last %}, {% endif %}
      {%- endfor -%})
    {%- else -%}
      {% if item.url %}<a href="{{ item.url }}">{{ item.title }}</a>{% else %}{{ item.title }}{% endif %}
    {%- endif -%}
  {%- endmacro -%}

  {% for area in overviews %}
    {% if area.has_missing_child %}
    <h4>{{ area.title }}</h4>
      {% for subarea in area.missing_children %}
        <p class="ml-4 mb-2">
        <b>{{ subarea.title }}: </b>
        {% for item in subarea.missing_children %}
	{{ flat_child(item) }}{% if not loop.last %}, {% else %}.{% endif %}
        {% endfor %}
        </p>
      {% endfor %}
    {% endif %}
  {% endfor %}

{% endblock %}
